.search{
    margin: 1rem;
    height: 3vw;
}

.search-box{
    width: 50%;
    height: 2vw;
    border-radius: 10px;
    padding: 0 1%;
}

.search-button{
    border-radius: 10px;
    height: 2vw;
    background-color: transparent;
}

.result-header{
    color: darkgreen;
    padding-top: 2%;
}

.result-box{
    border: 0.2% solid beige;
    border-radius: 10px;
    margin: 2%;
    box-shadow: 1% beige;
    background-color: beige;
    width: 25%;
    padding: 1%;
}   

.result-dates{
    color: rgb(13, 14, 14);
}

.results-box{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}