.search{
    margin: 1rem;
    height: 4vw;
}

.search-box{
    width: 50%;
    height: 2vw;
    border-radius: 10px;
    padding: 0 1%;
}

.search-button{
    border-radius: 10px;
    background-color: transparent;
}

@media (max-width: 768px) {
    .result-box{
        width: 80%;
        padding: 6%;
    }
    .search{
        height: 10vw;
    }
    .search-box{
        height: 4vw;
    }
}
